.listItem{
    margin-bottom: 4px;
    display: flex;
    text-align: left;
}

.listText{
    border: 1px solid white;
    word-break: break-word;
    flex: 1 1;
    padding: 10px;
}

.listButtons{
    display: flex;
}
